@use '../../../styles/Variables' as var;


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 328px;
  background-color: var(--white-color);
  padding: 23px 45px;
  width: 100%;
  border-radius: 7px;

  img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: var.$tablet) {
  .card {
    min-width: 250px;
    min-height: 248px;
    padding: 8px 24px;
  }

  img {
    width: 150px;
    height: 150px;
  }
}