.input__container {
  display: flex;
  padding: 8px 12px 8px 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.32);
  border: 1px solid transparent;
  background-color: var(--white-color);
  width: 100%;
  transition: 0.4s;

}

.input__container:focus-within {
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

input {
  width: 100%;
  padding: 1px 8px;
}
