* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--gray-color);
}

nav li {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button, input {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
